a.active .MuiListItemButton-root {
    background-color: var(--primary);
    color: white;
    padding-left: 30px;
}

a.active .MuiSvgIcon-root {
    color: white;
}

a {
    text-decoration: none;
    color: #000 !important
}

.drawer-list .MuiListItemButton-root {
    max-height: 48px;
    margin-left: 9.6px;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    // border-bottom: 1px solid #f1f1f1;
}